*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cal{
    background-image: linear-gradient(rgba(225, 225, 225, 0.5), rgba(225, 225, 255, 0.5)), url('Images/background.jpeg');
    size: 100%;
    height: 100vh;
    align-content: center;
}
#bg{
    background-color: rgb(171, 182, 179);
}